<div class="p-4 min-h-screen mx-auto w-2/3">
  <h1 class="text-2xl font-bold mb-4 uppercase">
    2. Todo List
    <span class="text-sm italic"> - behavior subject state service</span>
    <span class="text-sm italic"
      >({{ (filteredTodosCount$ | async) ?? 0 }})</span
    >
  </h1>

  <!-- Filter Controls -->
  <div class="flex items-center gap-4 mb-4">
    <p-button
      [label]="'All'"
      [outlined]="(filterStatus$ | async) !== 'ALL'"
      (onClick)="todoState.setFilterStatus('ALL')"
    ></p-button>
    <p-button
      [label]="'Completed'"
      [outlined]="(filterStatus$ | async) !== 'COMPLETED'"
      (onClick)="todoState.setFilterStatus('COMPLETED')"
    ></p-button>
    <p-button
      [label]="'Not Completed'"
      [outlined]="(filterStatus$ | async) !== 'NOT_COMPLETED'"
      (onClick)="todoState.setFilterStatus('NOT_COMPLETED')"
      class="whitespace-nowrap"
    />
    <div class="flex items-center w-full">
      <input
        type="text"
        placeholder="Search by title"
        class="p-2 border rounded w-full"
        [ngModel]="(filterText$ | async) ?? ''"
        (ngModelChange)="todoState.setFilterText($event)"
      />
      <p-button
        icon="pi pi-filter-slash"
        class="ml-2"
        (onClick)="todoState.setFilterText('')"
        [disabled]="!(filterText$ | async)"
      ></p-button>
    </div>
  </div>

  <!-- Todo List Loading -->
  <div
    *ngIf="isTodosLoading$ | async; else todoListContent"
    class="shadow rounded p-4 bg-gray-100 dark:bg-gray-900"
  >
    <p-skeleton styleClass="mb-2" />
    <p-skeleton styleClass="mb-2" />
    <p-skeleton styleClass="mb-2" />
  </div>

  <ng-template #todoListContent>
    <!-- Todo List No Results -->
    <div
      *ngIf="(filteredTodos$ | async)?.length === 0; else todoListResults"
      class="flex justify-center items-center h-24 bg-gray-100 dark:bg-gray-900 rounded-lg"
    >
      <div class="text-xl">No todos.</div>
    </div>

    <!-- Todo List Results -->
    <ng-template #todoListResults>
      <ul class="shadow rounded p-4 bg-gray-100 dark:bg-gray-900">
        <li
          *ngFor="let todo of filteredTodos$ | async; trackBy: trackById"
          class="flex justify-between items-center p-2 border-b last:border-none w-full"
        >
          <span [class.line-through]="todo.completed">
            {{ todo.title }}
          </span>
          <div class="flex items-center gap-2">
            <span
              class="px-2 py-1 text-xs rounded uppercase"
              [ngClass]="{
                'bg-green-200 text-green-800': todo.completed,
                'bg-yellow-200 text-yellow-800': !todo.completed
              }"
            >
              {{ todo.completed ? "Completed" : "Not Completed" }}
            </span>
            <p-button
              icon="pi pi-trash"
              class="p-button-sm rounded-full"
              severity="danger"
              (onClick)="todoState.deleteTodo(todo.id)"
            ></p-button>
          </div>
        </li>
      </ul>
    </ng-template>
  </ng-template>
</div>
